body {
  padding: 10px 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.to-riders {
    display: none;
}

/*.pre-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -170px 0 0 -120px;
    padding: 20px;
    height: 250px;
    
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 1750ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}*/

/*
.pre-loader svg {
    fill: #fff;
}
*/
.svg-container {
  position: relative;
}
.svg-center {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%);

  height: auto;
  width: 100%;
  max-width: 200px;
}
svg {
  max-width: 200px;
  position: absolute;
  left: 50%;
  display: block;
}
.koi-fish {
  -webkit-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
  position: absolute;
  left: 10px;
}
.koi-txt {
  max-width: 170px;
  position: absolute;
  top: 15px;
  left: 25px;
}
.koi-logo-txt {
  fill: #0075c9;
  /* -webkit-animation: rotationText 2s infinite linear !important; */
  width: 100%;
}

.koi-logo-txt-kay {
  fill: #0075c9;
/*  -webkit-animation: dimText 1s infinite;
  animation: dimText 1s infinite;*/
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
.koi-logo-txt-oh {
  fill: #0075c9;
/*  animation: dimText 1s infinite;
  -webkit-animation: dimText 1s infinite;*/
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
.koi-logo-txt-eye {
  fill: #0075c9;
/*  animation: dimText 1s infinite;
  -webkit-animation: dimText 1s infinite;*/
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
.rotate-fish {
/*   transform: translate(-30px); */
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}

@-webkit-keyframes rotationText {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes rotationText {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(0deg);
    }
}

@-webkit-keyframes dimText {
    0% {
        fill: #0075c9;
    }
    50% {
        fill: #000;
    }
    100% {
        fill: #0075c9;
    }
}
@keyframes dimText {
    0% {
        fill: #0075c9;
    }
    50% {
        fill: #000;
    }
    100% {
        fill: #0075c9;
    }
}

.hide-all-data {
    display: none;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


@media screen and (max-width: 400px) {
  .svg-center {
    left: 45%;
  }
}