<div *ngIf="data" class="table-responsive gradient-tbl">
   <h1>Ride Vancouver</h1>
  <div class="tbl-header">
    <table class="gradient-tbl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI</th>
          <th class="text-center">CREWS</th>
          <th class="text-center">RIDERS</th>
          <th class="text-center">VIRTUAL RIDERS</th>
          <th class="text-center">DON$</th>
          <th class="text-center">REG$</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class="tbl-hdr-mobile">
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI</th>
          <th class="text-center">CREWS</th>
          <th class="text-center">RIDERS</th>
          <th class="text-center">VIRTUAL RIDERS</th>
          <th class="text-center">DON$</th>
          <th class="text-center">REG$</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2018 (Today)</td>
          <td>{{data.va18RFIDaily}}</td>
          <td>{{data.va18CrewDaily}}</td>
          <td>{{data.va18RidersDaily}}</td>
          <td>{{data.va18VRDaily}}</td>
          <td>{{data.va18DonDaily}}</td>
          <td>{{data.va18RegFeeDaily}}</td>
        </tr>
        <tr>
          <td>2018 (YTD)</td>
          <td>{{data.va18RFI}}</td>
          <td>{{data.va18Crews}}</td>
          <td>{{data.va18Riders}}</td>
          <td>{{data.va18VR}}</td>
          <td>{{data.va18Donations}}</td>
          <td>{{data.va18RegFee}}</td>
        </tr>
        <tr>
          <td>2017 (YTD)</td>
          <td>{{data.va17RFI}}</td>
          <td>{{data.va17Crews}}</td>
          <td>{{data.va17Riders}}</td>
          <td>{{data.va17VR}}</td>
          <td>{{data.va17Donations}}</td>
          <td>{{data.va17RegFee}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
