<div *ngIf="isLoggedIn()" class="row">
  <div class="col-xs-12">
    <button class="btn-view">View Table Menu</button>
  </div>
</div>
<div class="row all-buttons-row">
    <div class="col-xs-12">
        <h3 class="text-center">Choose location &amp; event:</h3>
    </div>
    <div class="col-md-3">
        <h4 class="text-center">All</h4>
        <button class="center-block btn btn-success all-btn">Display All Events</button>
    </div>
    <div class="col-md-3">
        <h4 class="text-center">Ride</h4>
        <button class="btn btn-primary alberta-btn">Alberta</button>
        <button class="btn btn-primary toronto-btn">Toronto</button>
        <button class="btn btn-primary montreal-btn">Montreal</button>
        <button class="btn btn-primary vancouver-btn">Vancouver</button>
        <button class="btn btn-primary perth-btn">Perth</button>
    </div>
    <div class="col-md-3">
        <h4 class="text-center">OneWalk</h4>
        <button class="btn btn-ow ow-toronto-btn">Toronto</button>
    </div>
    <div class="col-md-3">
        <h4 class="text-center">OneDay</h4>
        <button class="btn btn-od melbourne-btn">Melbourne</button>
    </div>
</div>
<br/>
<div *ngIf="isLoggedIn() && data" class="table-responsive all-table">
    <h3>Today</h3>
    <p>* x = not applicable data</p>
    <table class="table table-bordered table-hover">
        <tr class="text-center">
            <th>RTCC</th>
            <th class="text-center">RFI</th>
            <th class="text-center">RIDERS</th>
            <th class="text-center">VIRTUAL RIDERS</th>
            <th class="text-center">CREWS</th>
            <th class="text-center">WALKERS</th>
            <th class="text-center">DON$</th>
            <th class="text-center">REG$</th>
        </tr>
        <tr class="data-json"> 
            <td class="koi-blue">
               2018 Alberta RTCC
            </td>
            <td>{{data.ab18RFIDaily}}</td>
            <td>{{data.ab18RidersDaily}}</td>
            <td>{{data.ab18VRDaily}}</td>
            <td>{{data.ab18CrewDaily}}</td>
            <td>x</td>
            <td>{{data.ab18DonDaily}}</td>
            <td>{{data.ab18RegFeeDaily}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2018 Montreal RTCC
            </td>
            <td>{{data.mo18RFIDaily}}</td>
            <td>{{data.mo18RidersDaily}}</td>
            <td>{{data.mo18VRDaily}}</td>
            <td>{{data.mo18CrewDaily}}</td>
            <td>x</td>
            <td>{{data.mo18DonDaily}}</td>
            <td>{{data.mo18RegFeeDaily}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2018 Toronto RTCC
            </td>
            <td>{{data.to18RFIDaily}}</td>
            <td>{{data.to18RidersDaily}}</td>
            <td>{{data.to18VRDaily}}</td>
            <td>{{data.to18CrewDaily}}</td>
            <td>x</td>
            <td>{{data.to18DonDaily}}</td>
            <td>{{data.to18RegFeeDaily}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2018 Vancouver RTCC
            </td>
            <td>{{data.va18RFIDaily}}</td>
            <td>{{data.va18RidersDaily}}</td>
            <td>{{data.va18VRDaily}}</td>
            <td>{{data.va18CrewDaily}}</td>
            <td>x</td>
            <td>{{data.va18DonDaily}}</td>
            <td>{{data.va18RegFeeDaily}}</td>
        </tr> 
        <tr class="data-json">
            <td class="koi-blue">
                2018 Perth RTCC
            </td>
            <td>{{data.pr18RFIDaily}}</td>
            <td>{{data.pr18RidersDaily}}</td>
            <td>x</td>
            <td>{{data.pr18CrewDaily}}</td>
            <td>x</td>
            <td>{{data.pr18DonDaily}}</td>
            <td>{{data.pr18RegFeeDaily}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
               2018 Melbourne OneDay
            </td>
            <td>x</td>
            <td>{{data.ml18RidersDaily}}</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>{{data.ml18DonDaily}}</td>
            <td>{{data.ml18RegDaily}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2018 OneWalk Toronto
            </td>
            <td>{{data.owto18RFIDaily}}</td>
            <td>x</td>
            <td>x</td>
            <td>{{data.owto18CrewsDaily}}</td>
            <td>{{data.owto18WalkersDaily}}</td>
            <td>{{data.owto18DonDaily}}</td>
            <td>{{data.owto18RegDaily}}</td>
        </tr>
    </table>
</div>

<div  *ngIf="isLoggedIn() && data" class="table-responsive all-table">
    <h3>Year to Date</h3>
    <p>* x = not applicable data</p>
    <table class="table table-bordered table-hover">
        <tr class="text-center">
            <th>RTCC</th>
            <th class="text-center">RFI</th>
            <th class="text-center">RIDERS</th>
            <th class="text-center">VIRTUAL RIDERS</th>
            <th class="text-center">CREWS</th>
            <th class="text-center">WALKERS</th>
            <th class="text-center">DON$</th>
            <th class="text-center">REG$</th>
        </tr>
        <tr class="data-json"> 
            <td class="koi-blue">
               2018 Alberta RTCC
            </td>
            <td>{{data.ab18RFI}}</td>
            <td>{{data.ab18Riders}}</td>
            <td>{{data.ab18VR}}</td>
            <td>{{data.ab18Crews}}</td>
            <td>x</td>
            <td>{{data.ab18Donations}}</td>
            <td>{{data.ab18RegFee}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2018 Montreal RTCC
            </td>
            <td>{{data.mo18RFI}}</td>
            <td>{{data.mo18Riders}}</td>
            <td>{{data.mo18VR}}</td>
            <td>{{data.mo18Crews}}</td>
            <td>x</td>
            <td>{{data.mo18Donations}}</td>
            <td>{{data.mo18RegFee}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2018 Toronto RTCC
            </td>
            <td>{{data.to18RFI}}</td>
            <td>{{data.to18Riders}}</td>
            <td>{{data.to18VR}}</td>
            <td>{{data.to18Crews}}</td>
            <td>x</td>
            <td>{{data.to18Donations}}</td>
            <td>{{data.to18RegFee}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2018 Vancouver RTCC
            </td>
            <td>{{data.va18RFI}}</td>
            <td>{{data.va18Riders}}</td>
            <td>{{data.va18VR}}</td>
            <td>{{data.va18Crews}}</td>
            <td>x</td>
            <td>{{data.va18Donations}}</td>
            <td>{{data.va18RegFee}}</td>
        </tr> 
        <tr class="data-json">
            <td class="koi-blue">
                2018 Perth RTCC
            </td>
            <td>{{data.pr18RFI}}</td>
            <td>{{data.pr18Riders}}</td>
            <td>x</td>
            <td>{{data.pr18Crews}}</td>
            <td>x</td>
            <td>{{data.pr18Donations}}</td>
            <td>{{data.pr18RegFee}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
               2018 Melbourne OneDay
            </td>
            <td>x</td>
            <td>{{data.ml18Riders}}</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>{{data.ml18Donations}}</td>
            <td>{{data.ml18RegFee}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2018 OneWalk Toronto
            </td>
            <td>{{data.owTo18RFI}}</td>
            <td>x</td>
            <td>x</td>
            <td>{{data.owTo18Crews}}</td>
            <td>{{data.owTo18Walkers}}</td>
            <td>{{data.owTo18Donations}}</td>
            <td>{{data.owTo18RegFee}}</td>
        </tr>
        <tr class="data-json"> 
            <td class="koi-blue">
                2017 Alberta RTCC
            </td>
            <td>{{data.ab17RFI}}</td>
            <td>{{data.ab17Riders}}</td>
            <td>{{data.ab17VR}}</td>
            <td>{{data.ab17Crews}}</td>
            <td>x</td>
            <td>{{data.ab17Donations}}</td>
            <td>{{data.ab17RegFee}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2017 Montreal RTCC
            </td>
            <td>{{data.mo17RFI}}</td>
            <td>{{data.mo17Riders}}</td>
            <td>{{data.mo17VR}}</td>
            <td>{{data.mo17Crews}}</td>
            <td>x</td>
            <td>{{data.mo17Donations}}</td>
            <td>{{data.mo17RegFee}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2017 Perth RTCC
            </td>
            <td>{{data.pr17RFI}}</td>
            <td>{{data.pr17Riders}}</td>
            <td>x</td>
            <td>{{data.pr17Crews}}</td>
            <td>x</td>
            <td>{{data.pr17Donations}}</td>
            <td>{{data.pr17RegFee}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2017 Toronto RTCC
            </td>
            <td>{{data.to17RFI}}</td>
            <td>{{data.to17Riders}}</td>
            <td>{{data.to17VR}}</td>
            <td>{{data.to17Crews}}</td>
            <td>x</td>
            <td>{{data.to17Donations}}</td>
            <td>{{data.to17RegFee}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2017 Vancouver RTCC
            </td>
            <td>{{data.va17RFI}}</td>
            <td>{{data.va17Riders}}</td>
            <td>{{data.va17VR}}</td>
            <td>{{data.va17Crews}}</td>
            <td>x</td>
            <td>{{data.va17Donations}}</td>
            <td>{{data.va17RegFee}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
               2017 Melbourne OneDay
            </td>
            <td>x</td>
            <td>{{data.ml17Riders}}</td>
            <td>x</td>
            <td>x</td>
            <td>x</td>
            <td>{{data.ml17Donations}}</td>
            <td>{{data.ml17RegFee}}</td>
        </tr>
        <tr class="data-json">
            <td class="koi-blue">
                2017 OneWalk Toronto
            </td>
            <td>{{data.owTo17RFI}}</td>
            <td>x</td>
            <td>x</td>
            <td>{{data.owTo17Crews}}</td>
            <td>{{data.owTo17Walkers}}</td>
            <td>{{data.owTo17Donations}}</td>
            <td>{{data.owTo17RegFee}}</td>
        </tr>
    </table>
</div>

<!-- BEGIN Toronto Table -->

<app-toronto class="table-responsive to-table"></app-toronto>

<!-- BEGIN Alberta Table -->

<app-alberta class="table-responsive ab-table"></app-alberta>

<!-- BEGIN Montreal Table -->

<app-montreal class="table-responsive mo-table"></app-montreal>

<!-- BEGIN Vancouver Table -->

<app-vancouver class="table-responsive va-table"></app-vancouver>

<!-- BEGIN Ride Perth Table -->

<app-perth class="table-responsive pr-table"></app-perth>

<!-- BEGIN OneWalk Toronto Table -->

<app-ow-toronto class="table-responsive ow-to-table"></app-ow-toronto>

<!-- BEGIN OneDay Melbourne Table -->

<app-melbourne class="table-responsive ml-table"></app-melbourne>
