<div *ngIf="data" class="table-responsive gradient-tbl">
   <h1>Ride Perth</h1>
  <div class="tbl-header">
    <table class="gradient-tbl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI</th>
          <th class="text-center">CREWS</th>
          <th class="text-center">RIDERS</th>
          <th class="text-center">DON$</th>
          <th class="text-center">REG$</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class="tbl-hdr-mobile">
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI</th>
          <th class="text-center">CREWS</th>
          <th class="text-center">RIDERS</th>
          <th class="text-center">DON$</th>
          <th class="text-center">REG$</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2018 (Today)</td>
          <td>{{data.pr18RFIDaily}}</td>
          <td>{{data.pr18CrewDaily}}</td>
          <td>{{data.pr18RidersDaily}}</td>
          <td>{{data.pr18DonDaily}}</td>
          <td>{{data.pr18RegFeeDaily}}</td>
        </tr>
        <tr>
          <td>2018 (YTD)</td>
          <td>{{data.pr18RFI}}</td>
          <td>{{data.pr18Crews}}</td>
          <td>{{data.pr18Riders}}</td>
          <td>{{data.pr18Donations}}</td>
          <td>{{data.pr18RegFee}}</td>
        </tr>
        <tr>
          <td>2017 (YTD)</td>
          <td>{{data.pr17RFI}}</td>
          <td>{{data.pr17Crews}}</td>
          <td>{{data.pr17Riders}}</td>
          <td>{{data.pr17Donations}}</td>
          <td>{{data.pr17RegFee}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
