/* You can add global styles to this file, and also import other style files */
svg path,
svg rect{
  fill: #fff;
}

svg {
    width: 100px;
}
.container>.row>div>svg {
    text-align: center;
    margin-top: 50px;
    max-width: 100px;
}

/*
.center-preloader {
    position: relative;
    background: #fff;
    height: 200px;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    resize: both;
    overflow: auto;
}
*/

.koi-logo-txt {
    fill: #0075c9;
}

.pre-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -170px 0 0 -120px;
    padding: 20px;
    height: 250px;
    
/*
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 1750ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
*/
}

.pre-loader svg {
    fill: #fff;
}

/*
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}*/
