<!-- Routes from Menu -->
<!--<p class="text-center" *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</p>-->
<h3 class="text-center" *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.displayName  }}!</h3>
<!--<input class="display-name" type="text">-->
<!--<button class="btn btn-primary" (click)="changeDisplayName()">Set Display Name</button>-->
<!--<ul class="data-json">-->
<!--    {{data?.getTopParticipantsDataResponse.teamraiserData[0].name}}-->
<!--</ul>-->

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3 class="text-center">Choose location &amp; event:</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h4 class="text-center">All</h4>
        <button (click)="showAllTable()" class="center-block btn btn-success all-btn">Display All Events</button>
    </div>
    <div class="col-md-3">
        <h4 class="text-center">Ride</h4>
        <button (click)="tableShow($event.target)" class="btn btn-primary alberta-btn">Alberta</button>
        <button (click)="tableShow($event.target)" class="btn btn-primary toronto-btn">Toronto</button>
        <button (click)="tableShow($event.target)" class="btn btn-primary montreal-btn">Montreal</button>
        <button (click)="tableShow($event.target)" class="btn btn-primary vancouver-btn">Vancouver</button>
    </div>
    <div class="col-md-3">
        <h4 class="text-center">OneWalk</h4>
    </div>
    <div class="col-md-3">
        <h4 class="text-center">OneDay</h4>
    </div>
</div>
<br/>
<div class="table-responsive all-table">
    <table class="table table-bordered table-hover">
        <tr class="text-center">
            <th>RTCC</th>
            <th class="text-center">RFI</th>
            <th class="text-center">RDR</th>
            <th class="text-center">CRW</th>
            <th class="text-center">WLK</th>
            <th class="text-center">DON$</th>
            <th class="text-center">REG$</th>
        </tr>
        <tr class="data-json"> 
            <td>
                <a href="#">2017 Alberta RTCC</a>
            </td>
            <td class="ab-rfi"></td>
            <td class="ab-rider"></td>
            <td class="ab-crew"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="data-json">
            <td>
                <a href="#">2017 Montreal RTCC</a>
            </td>
            <td class="mo-rfi"></td>
            <td class="mo-rider"></td>
            <td class="mo-crew"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="data-json">
            <td>
                <a href="#">2017 Toronto RTCC</a>
            </td>
            <td class="to-rfi"></td>
            <td class="to-rider"></td>
            <td class="to-crew"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="data-json">
            <td>
                <a href="#">2017 Vancouver RTCC</a>
            </td>
            <td class="va-rfi"></td>
            <td class="va-rider"></td>
            <td class="va-crew"></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="data-json">
            <td>
                <a href="#">2017 Melbourne OneDay</a>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td class="ml-walkers"></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="data-json">
            <td>
                <a href="#">2017 Brisbane OneDay</a>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td class="br-walkers"></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<div class="table-responsive ab17-table">
   <h1>Ride Alberta</h1>
  <div class="tbl-header">
    <table class="gradient-tbl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead class="tbl-hdr-mobile">
            <tr>
            <th class="text-center">Year</th>
            <th class="text-center">RFI</th>
            <th class="text-center">CRW</th>
            <th class="text-center">RDR</th>
            <th class="text-center">DON$</th>
            <th class="text-center">REG$</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>2018</td>
                <td>AUSTRALIAN COMPANY </td>
                <td>$1.38</td>
                <td>+2.01</td>
                <td>-0.36%</td>
            </tr>
            <tr>
                <td>2017</td>
                <td class="ab-rfi"></td>
                <td class="ab-crew"></td>
                <td class="ab-rider"></td>
                <td>-1.36%</td>
            </tr>
            <tr>
                <td>2016</td>
                <td>ADELAIDE</td>
                <td>$3.22</td>
                <td>+0.01</td>
                <td>+1.36%</td>
            </tr>
            <tr>
                <td>2014</td>
                <td>ADITYA BIRLA</td>
                <td>$1.02</td>
                <td>-1.01</td>
                <td>+2.36%</td>
            </tr>
            <tr>
                <td>2013</td>
                <td>AUSTRALIAN COMPANY </td>
                <td>$1.38</td>
                <td>+2.01</td>
                <td>-0.36%</td>
            </tr>
            <tr>
                <td>2012</td>
                <td>AUSENCO</td>
                <td>$2.38</td>
                <td>-0.01</td>
                <td>-1.36%</td>
            </tr>
            <tr>
                <td>2011</td>
                <td>ADELAIDE</td>
                <td>$3.22</td>
                <td>+0.01</td>
                <td>+1.36%</td>
            </tr>
            <tr>
                <td>2010</td>
                <td>ADITYA BIRLA</td>
                <td>$1.02</td>
                <td>-1.01</td>
                <td>+2.36%</td>
            </tr>
            <tr>
                <td>2009</td>
                <td>AUSTRALIAN COMPANY </td>
                <td>$1.38</td>
                <td>+2.01</td>
                <td>-0.36%</td>
            </tr>
            <tr>
                <td>2008</td>
                <td>AUSENCO</td>
                <td>$2.38</td>
                <td>-0.01</td>
                <td>-1.36%</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>

<div class="table-responsive to17-table">
   <h1>Ride Toronto</h1>
  <div class="tbl-header">
    <table class="gradient-tbl" cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$</th>
          <th class="text-center">REG$</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead class="tbl-hdr-mobile">
        <tr>
          <th class="text-center">Year</th>
          <th class="text-center">RFI</th>
          <th class="text-center">CRW</th>
          <th class="text-center">RDR</th>
          <th class="text-center">DON$</th>
          <th class="text-center">REG$</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2018</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
          <td>+2.01</td>
          <td>-0.36%</td>
          <td>+2.01</td>
        </tr>
        <tr>
          <td>2017</td>
          <td class="to-rfi"></td>
          <td class="to-crew"></td>
          <td class="to-rider"></td>
          <td>-1.36%</td>
          <td>+2.01</td>
        </tr>
        <tr>
          <td>2016</td>
          <td>ADELAIDE</td>
          <td>$3.22</td>
          <td>+0.01</td>
          <td>+1.36%</td>
          <td>+2.01</td>
        </tr>
        <tr>
          <td>2014</td>
          <td>ADITYA BIRLA</td>
          <td>$1.02</td>
          <td>-1.01</td>
          <td>+2.36%</td>
          <td>+2.01</td>
        </tr>
        <tr>
          <td>2013</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
          <td>+2.01</td>
          <td>-0.36%</td>
          <td>+2.01</td>
        </tr>
        <tr>
          <td>2012</td>
          <td>AUSENCO</td>
          <td>$2.38</td>
          <td>-0.01</td>
          <td>-1.36%</td>
          <td>+2.01</td>
        </tr>
        <tr>
          <td>2011</td>
          <td>ADELAIDE</td>
          <td>$3.22</td>
          <td>+0.01</td>
          <td>+1.36%</td>
          <td>+2.01</td>
        </tr>
        <tr>
          <td>2010</td>
          <td>ADITYA BIRLA</td>
          <td>$1.02</td>
          <td>-1.01</td>
          <td>+2.36%</td>
          <td>+2.01</td>
        </tr>
        <tr>
          <td>2009</td>
          <td>AUSTRALIAN COMPANY </td>
          <td>$1.38</td>
          <td>+2.01</td>
          <td>-0.36%</td>
          <td>+2.01</td>
        </tr>
        <tr>
          <td>2008</td>
          <td>AUSENCO</td>
          <td>$2.38</td>
          <td>-0.01</td>
          <td>-1.36%</td>
          <td>+2.01</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

