<h3>User Settings</h3>
<div class="row">
   <div *ngIf="!(authService.user.emailVerified == false)" class="col-md-6">
       <h4 class="email-verify"></h4>
        <p>Please click the button below to verify your email address, once clicked, you will receive an email containing the verification link</p>
        <button class="btn btn-success" (click)="verifyEmail()">Verify Email</button>
    </div>
    <div class="col-md-6">
        <p>You may enter a display name in the box below, then click on the Set Display Name button. Your name will be updated in real-time.</p>
        <h4 class="text-left" *ngIf="authService.user | async">Your display name has been set as: {{ (authService.user | async)?.displayName  }}</h4>
        <input placeholder="Enter a Display Name" class="display-name form-control" type="text">
        <button class="btn btn-primary" (click)="changeDisplayName()">Set Display Name</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
       
    </div>
</div>